<!doctype html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
  </head>
  <body>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="755.564"
      height="1128.196"
      viewBox="0 0 755.564 1128.196"
      class="bg-element bg-left"
    >
      <path
        id="Path_33"
        data-name="Path 33"
        d="M1823.352-57.576C1839.742,2,1847.868,516,1739.078,803.03S1113.918,1094,1098.318,954.545,1077.423-57.576,1077.423-57.576,1806.961-117.152,1823.352-57.576Z"
        transform="translate(-1077.423 84.054)"
        fill="#7285ff"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="869.354"
      height="1200.994"
      viewBox="0 0 869.354 1200.994"
      class="bg-element bg-right"
    >
      <path
        id="Path_34"
        data-name="Path 34"
        d="M1823.352-57.576C1839.742,2,1847.868,516,1739.078,803.03S1113.918,1094,1098.318,954.545,1077.423-57.576,1077.423-57.576,1806.961-117.152,1823.352-57.576Z"
        transform="translate(1831.732 1230.022) rotate(-174)"
        fill="#7285ff"
      />
    </svg>
  
    <div class="container flex col jcc aic">
      <h1>แบบสอบถามวัคซีน</h1>
      <div class="form-container flex col jcc aic">
        <form method="post" class="flex col aic">
          <div class="input-container">
            <div class="pb-1 flex col">
              <label for="email">email</label>
              <input type="email" name="email" id="email" />
            </div>
            <div class="pb-1 flex col">
              <label for="age">อายุ</label>
              <input type="number" name="age" id="age" />
            </div>
            <div class="pb-1 flex col">
              <label for="sex">เพศ</label>
              <select name="sex" id="sex">
                <option value="male">ชาย</option>
                <option value="female">หญิง</option>
              </select>
            </div>
            <div class="pb-1 flex col">
              <label for="chronic">โรคประจำตัว</label>
              <select name="chronic" id="chronic">
                <option value="chronic0">--</option>
                <option value="chronic1">โรคทางเดินหายใจเรื้อรัง</option>
                <option value="chronic2">โรคหัวใจและหลอดเลือด</option>
                <option value="chronic3">โรคไตวายเรื้อรัง</option>
                <option value="chronic4">โรคหลอดเลือดสมอง</option>
                <option value="chronic5">โรคอ้วน</option>
                <option value="chronic6">โรคมะเร็ง</option>
                <option value="chronic7">เบาหวาน</option>
              </select>
            </div>
  
            <div class="pb-1 flex col">
              <label for="pregnancy">การตั้งครรภ์</label>
              <select name="pregnancy" id="pregnancy">
                <option value="no">ไม่ตั้งครรภ์</option>
                <option value="yes">ตั้งครรภ์</option>
              </select>
            </div>
  
            <div class="pb-1 flex col">
              <label for="vaxed">เคยได้รับวัคซีน COVID-19 หรือไม่</label>
              <select name="vaxed" id="pregnancy">
                <option value="none">ไม่เคยฉีด</option>
                <option value="firstVax">เคยฉีดแล้วหนึ่งครั้ง</option>
                <option value="secVax">เคยฉีดแล้วสองครั้ง</option>
              </select>
            </div>
          </div>
          <a href=""><input type="submit" value="submit" class="submitBtn" /></a>
        </form>
      </div>
    </div>
  </body>
</html>
