<head><link rel="stylesheet" href= "{{ url_for('static',filename='styles/pathToFindHis.css') }}"></head>
<body>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="755.564"
      height="1128.196"
      viewBox="0 0 755.564 1128.196"
      class="bg-element bg-left"
    >
      <path
        id="Path_33"
        data-name="Path 33"
        d="M1823.352-57.576C1839.742,2,1847.868,516,1739.078,803.03S1113.918,1094,1098.318,954.545,1077.423-57.576,1077.423-57.576,1806.961-117.152,1823.352-57.576Z"
        transform="translate(-1077.423 84.054)"
        fill="#7285ff"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="869.354"
      height="1200.994"
      viewBox="0 0 869.354 1200.994"
      class="bg-element bg-right"
    >
      <path
        id="Path_34"
        data-name="Path 34"
        d="M1823.352-57.576C1839.742,2,1847.868,516,1739.078,803.03S1113.918,1094,1098.318,954.545,1077.423-57.576,1077.423-57.576,1806.961-117.152,1823.352-57.576Z"
        transform="translate(1831.732 1230.022) rotate(-174)"
        fill="#7285ff"
      />
    </svg>
    <div class="container col flex aic jcc">
        <h1>Enter your email</h1>
        <div class="form-container flex col aic jcc">
            <form action="#" method="post" class="flex col aic jcc">
                <input type="text" name="email_his" placeholder="Email"><br>
                <a href=""><input type="submit" value="Search" class=""></a>
            </form>
        </div>
    </div>
</body>